<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- sql server 连接配置-->
  <add name="SQLServer" connectionString="" providerName="System.Data.SqlClient" />
  <!-- oracle 连接配置-->
  <add name="Oracle" connectionString="" providerName="System.Data.SqlClient" />
  <!-- mysql 连接配置-->
  <add name="MySQL" connectionString=";" />
</connectionStrings>
