<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 是否支持多地登录 -->
  <add key="IsMultiplePlace" value="false" />
  <!-- 是否接口校验身份 -->
  <add key="IsApiCheck" value="false" />
  <!-- 数据库类型 -->
  <add key="DataBaseType" value="SQLServer" />

  <!-- ================== 2: 过期时间配置 ================== -->
  <!-- redis 数据存储 时效性timespan为long类型  60 000 0000 =>60s -->
  <add key="RedisTimeOut" value="18000000000" />
  <!-- redis 数据存储 时效性 单位秒-->
  <add key="TicketTimeOut" value="100" />
  <!-- 数据库超时间 单位秒-->
  <add key="CommandTimeout" value="180" />

  <!-- ================== 3: 外部接口地址 ================== -->
  <!-- 管理系统接口地址-->
  <add key="ManageApi" value="" />

  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 系统名称 -->
  <add key="SystemName" value="统一用户管理系统" />
  <!-- 用户密码加解密密钥 -->
  <add key="EncryptToken" value="xmtz2018"/>
  <!-- 登录页面标题 -->
  <add key="LoginTitle" value="单点登录系统"/>
  <!-- 登录页面标题描述 -->
  <add key="LoginDesc" value=""/>
</appSettings>
